<footer id="footer" class="footer bg-gray-900 text-white">

    <div class="inner md:flex justify-between items-center py-10 xl:px-12">

        <p class="pb-8 md:pb-0">© 2020 Skeleventy: A skeleton boilerplate built with <a href="https://www.11ty.io/">Eleventy.</a></p>

        {% include 'components/social-icons.njk' %}

    </div>

</footer>
