<header id="header" class="absolute top-0 left-0 w-full z-40 flex flex-col md:flex-row md:justify-between md:items-center p-4 md:p-6">

	{% include "components/logo.njk" %}
	{% include 'components/nav.njk' %}

</header>
