<section>
    <div class="container relative py-16 md:py-24">
        <img src="https://res.cloudinary.com/hmillerdev/image/upload/x_0,y_100,w_2048,h_1024,c_crop/v1601152899/kartchners/building-dawn.jpg" alt="Kartchner's Specialty Meats" />
    </div>
</section>