<nav id="nav" class="nav hidden md:flex">

    <ul class="menu flex flex-col md:flex-row items-center list-reset text-xl">

        {% for item in navigation.main %}

        <li class="level-1 mb-4 md:mr-6 md:mb-0">

            <a href="{{ item.url | safe }}" class="link font-bold text-white hover:text-red-600 active:text-red-600 {% if page.url == item.url %}active text-red-600{% endif %}
            "{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}</a>

        </li>

        {% endfor %}

        <li>
            <a class="inline-block rounded md:ml-2 py-2 px-4 text-white font-bold bg-red-700 hover:bg-white hover:text-red-600 leading-tight font-display uppercase tracking-wider" href="#directions">Get Directions</a>
        </li>

    </ul>

</nav>
