
//==========  Import all component partials ==========//

@import 'mobile-nav';
@import 'buttons';
@import 'form';
@import 'snipcart';

.hero {
    height: 35vh;
    height: 35svh;

    @media (min-width: 640px) {
        height: 45vh;
        height: 45svh;
    }

    @media (min-width: 992px) {
        height: 50vh;
        height: 50svh;
    }
}

.peach {
    background-color: rgb(252, 220, 178);
}