<!doctype html>
<html lang="en" class="min-h-full antialiased">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set normalizedTitle = meta_title or title or name %}
    {% set normalizedDescription = meta_description or excerpt or description %}
    <title>{{ normalizedTitle }} | {{ site.name }}</title>
    <meta name="description" content="{{ normalizedDescription }}">
    <meta name="robots" content="index,follow" />

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Oswald:wght@700&display=swap" rel="stylesheet"> 
    {# if your site's entire CSS comes in under 14kb, you may want to inline in the head #}
    {# include main.css if in development mode #}
    {% if helpers.environment === "development" %}
        <link rel="stylesheet" href="/css/main.css">
    {% else %}
        {# else, use the minified css file for production #}
        <link rel="stylesheet" href="/css/main.min.css">
    {% endif %}

    {# snipcart #}
    <link rel="preconnect" href="https://app.snipcart.com">
    <link rel="preconnect" href="https://cdn.snipcart.com"> 
    <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.css" />
    <script defer src="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.js"></script>

    {# include scripts #}
    {% if helpers.environment === "development" %}
        <script src="/js/main.js" defer></script>
    {% else %}
        <script src="/js/main.min.js" defer></script>
    {% endif %}

    {% block head %}{% endblock %}

    {# include social meta tags #}
    {% include "components/social-meta.njk" %}

    {# include static assets e.g. favicon, fonts etc #}
    <link rel="icon" type="image/png" href="{{ site.images.favicon }}">

    {# canonical #}
    <link rel="canonical" href="{{ canonical or (site.url + page.url) }}">

    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" site="EXAJNODE" defer></script>
    <!-- / Fathom -->
</head>

<body {% if body_class %} id="{{ body_class }}"{% endif %} class="text-gray-800 leading-normal text-lg font-body">

    <a class="sr-only" href="#main">Skip to content</a>

    <div id="wrapper" class="wrapper pb-16 md:pb-0 flex flex-col relative min-h-screen">

        {# include header #}
        {% include "components/header.njk" %}

        {# include content #}
        {{ content | safe }}

        {# include footer #}
        {% include "components/footer.njk" %}

    </div>

    {# include mobile nav #}
    {% include "components/mobile-nav.njk" %}

    <div 
        hidden 
        id="snipcart" 
        data-api-key="Y2IyNjk3ODYtYzlkNy00OGI1LWI4ZDUtM2Y2ZjA4MjQwNGJhNjM3NDMzMzAxNjMzNzYwODI5"
        data-config-add-product-behavior="none"
        data-config-modal-style="side"
        data-turbolinks-permanent
    ></div>

</body>
</html>
