---
layout: page
---

<section class="py-16">
    <div class="inner flex flex-col items-center text-gray-700">
        <div class="md:grid grid-cols-3 max-w-6xl -mx-4 xl:-mx-8">
            <div class="px-4 xl:px-8 mb-8">
                {% set imgUrl = ["https://res.cloudinary.com/hmillerdev/image/upload/", image_format] | join %}
                <img
                    class="w-full h-auto"
                    srcset="{{ image | sizes(imgUrl) }}"
                    sizes="(min-width: 1166px) 352px, (min-width: 768px) 33vw, 100vw"
                    src="{{ imgUrl }}/{{ image }}"
                    width="352"
                    height="264"
                    alt=""
                />
            </div>
            <div class="col-span-2 px-4 md:px-8">
                <h1 class="text-5xl text-red-700">{{ title or name }}</h1>
                {{ content | safe }}
            </div>
            <hr class="col-span-3 my-10"/>
        </div>
        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-10 xl:gap-x-16 gap-y-6 mb-16 leading-tight">
            {% for item in collections[category] %}
                <li class="group">
                    <a href="{{ item.url }}" class="no-underline">
                        <img 
                            class="w-full h-auto mb-2"
                            data-srcset="{{ (item.data.image or default_image) | sizes("https://res.cloudinary.com/hmillerdev/image/upload/ar_1.5,c_crop/f_auto,q_80")}}"
                            sizes="(min-width: 1536px) 312px, (min-width: 992px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw" 
                            data-lazy="https://res.cloudinary.com/hmillerdev/image/upload/ar_1.5,c_crop/f_auto,q_80{{ item.data.image }}"
                            width="312"
                            height="208"
                            alt=""
                        />
                        <h2 class="text-2xl text-gray-800 group-hover:text-red-700 transition-colors duration-200 mb-0">{{ item.data.name }}</h2>
                        {% if item.data.price %}
                        <strong class="text-red-700">${{ item.data.price }}</strong>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
