---
layout: productList
title: Boudin
tags: product
products: [
    { name: "Pork Boudin", price: "$5.49/lb" },
    { name: "Smoked Boudin", price: "$6.49/lb" },
    { name: "Crawfish Boudin", price: "$8.99/lb" },
    { name: "Deer Boudin", price: "$6.99/lb" },
    { name: "Chicken Boudin", price: "$5.49/lb" },
    { name: "Beef Boudin", price: "$6.99/lb" },
    { name: "Frozen Boudin Balls", price: "$11.99/doz" },
    { name: "Frozen Boudin Balls Stuffed with Jalapeno & Cream Cheese", price: "$16.99/doz" },
    { name: "Frozen Crawfish Balls", price: "$17.99/doz" },
    { name: "Jalapeno & Pepper Jack Cheese Pork Boudin", price: "$5.99/lb" },
    { name: "Spicy Pork Boudin", price: "$5.49/lb" },
    { name: "Cauliflower Boudin", price: "$8.99/lb" }
]
---