---
layout: productList
title: Game
tags: product
products: [
    { name: "Whole Duck with Cornbread Dressing", price: "$4.99/lb" },
    { name: "Boneless Skinless Duck Breast Stuffed with Jalapeño &amp; Cream Cheese Wrapped in Bacon", price: "$14.99/lb" },
    { name: "Seasoned Boneless Skinless Duck Breast Wrapped in Bacon", price: "$13.99/lb" },
    { name: "Whole Bone-in Quail Stuffed with Green Onion Sausage", price: "$11.99/pair" },
    { name: "Whole Rabbit", price: "$11.99/ea" },
    { name: "Cut & Seasoned Rabbit", price: "$13.99/ea" },
    { name: "Whole Rabbit Stuffed with Green Onion Sausage", price: "$15.99/ea" },
]
---