---
layout: productList
title: Hand Cut Steaks
tags: product
products: [
    { name: "Seasoned Choice Black Angus Ribeye", price: "$20.99/lb" },
    { name: "Seasoned Choice Black Angus Ribeye Stuffed with Jalapeno &amp; Cream Cheese Wrapped in Bacon", price: "$20.99/lb" },
    { name: "20 oz. Seasoned Choice Black Angus Porterhouse", price: "$24.99/ea" },
    { name: "Seasoned Choice Filet Mignon", price: "$32.99/lb" }
]
---