---
layout: page
title: Products
---

<section class="py-16">
    <div class="inner flex flex-col items-center">
        <div class="md:grid grid-cols-3 max-w-6xl -mx-4 xl:-mx-8">
            <div class="px-4 xl:px-8 mb-8">
                <img
                    srcset="{{ "v1601937878/kartchners/tenderloin" | sizes("https://res.cloudinary.com/hmillerdev/image/upload/ar_1.3,c_crop/f_auto,q_80")}}" 
                    src="https://res.cloudinary.com/hmillerdev/image/upload/ar_1.3,c_crop/f_auto,q_80/v1601937878/kartchners/tenderloin"
                    alt="Well seasoned stuffed pork tenderloin on ice"
                />
            </div>
            <div class="col-span-2 px-4 md:px-8">
                <h1 class="text-5xl text-red-700">Products</h1>
                <p class="mb-10">Just like our location in Krotz Springs, we offer you the best boudin, sausage, and specialty meats. Everything is made in house, ready for you to pick up and cook with. Browse our categories below to see what'll complement your next meal.</p>
            </div>
            <hr class="col-span-3 mb-10"/>
        </div>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-16 gap-y-6 mb-16 leading-tight">
            {% for category in collections['product-category'] %}
                <li>
                    <a href="{{ category.url }}">
                        <img 
                            class="mb-2"
                            srcset="{{ category.data.image | sizes("https://res.cloudinary.com/hmillerdev/image/upload/ar_1.5,c_crop/f_auto,q_80")}}" 
                            src="https://res.cloudinary.com/hmillerdev/image/upload/ar_1.5,c_crop/f_auto,q_80{{ category.data.image }}"
                            alt=""
                        />
                        <h2 class="text-2xl text-gray-900 hover:text-red-700 transition-colors duration-200 mb-0">{{ category.data.name }}</h2>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
