---
layout: productList
title: Pork
tags: product
productLists: [
    { name: "Stuffed Boneless Pork Tenderloin Wrapped in Bacon", products: [
        { name: "Jalapeno and Cream Cheese", price: "$8.99/lb" },
        { name: "Pepper Jack Cheese", price: "$8.99/lb" },
        { name: "Boudin", price: "$8.99/lb" },
        { name: "Spinach and Cream Cheese", price: "$8.99/lb" },
        { name: "Seasoned Tenderloin Tip", price: "$7.99/lb" }
    ]},
    { name: "Stuffed Pork Chops", products: [
        { name: "Boudin", price: "$5.99/lb" },
        { name: "Shrimp Dressing", price: "$6.99/lb" },
        { name: "Crawfish Dressing", price: "$7.99/lb" },
        { name: "Cornbread Dressing", price: "$5.99/lb" },
        { name: "Green Onion Sausage", price: "$5.99/lb" }
    ]},
]