---
layout: productList
title: Sausage and Smoked Meats
tags: product
productLists: [
    { name: "Smoked Sausage", products: [
        { name: "Caution Hot Pork", price: "$5.99/lb" },
        { name: "Mixed", price: "$5.99/lb" },
        { name: "Pork", price: "$5.99/lb" },
        { name: "Green Onion", price: "$5.99/lb" },
        { name: "Jalapeño", price: "$5.99/lb" },
        { name: "Green Onion & Garlic", price: "$5.99/lb" },
        { name: "Deer &amp; Pork", price: "$5.99/lb" },
        { name: "Bacon, Apple &amp; Maple Syrup", price: "$7.49/lb" },
        { name: "Jalapeño &amp; Pepper Jack Cheese", price: "$5.99/lb" },
        { name: "Brown Sugar &amp; Syrup", price: "$5.99/lb" },
        { name: "Pork Andouille", price: "$7.99/lb" },
        { name: "Deer with Jalapeño &amp; Pepper Jack Cheese", price: "$7.49/lb" },
        { name: "Green Onion, Garlic &amp; Jalapeño", price: "$5.99/lb" },
        { name: "Rabbit &amp; Pork", price: "$6.49/lb" },
        { name: "Green Onion Chicken", price: "$5.99/lb" },
        { name: "Mild Slim Sticks", price: "$14.99/lb" },
    ]},
    { name: "Fresh Sausage", products: [
        { name: "Deer &amp; Pork", price: "$6.49/lb" },
        { name: "Jalapeño &amp; Cheddar Cheese", price: "$5.49/lb" },
        { name: "Green Onion", price: "$5.49/lb" },
        { name: "Italian", price: "$5.49/lb" },
        { name: "Spinach &amp; Sundried Tomatoes", price: "$5.99/lb" },
        { name: "Duck &amp; Pork", price: "$5.99/lb" },
        { name: "Pork", price: "$5.49/lb" },
        { name: "Chicken, Bacon, &amp; Pepper Jack", price: "$5.49/lb" },
        { name: "Pork and Jack Miller BBQ Sauce", price: "$5.49/lb" },
        { name: "Green Onion &amp; Garlic", price: "$5.49/lb" },
    ]},
    { name: "Smoked Meats", products: [
        { name: "Pork Tasso", price: "$6.99/lb" },
        { name: "Turkey Necks", price: "$2.99/lb" },
        { name: "Turkey Wings", price: "$2.99/lb" },
        { name: "Ham Hocks", price: "$3.99/lb" },
        { name: "Slab Bacon", price: "$6.99/lb" },
        { name: "Pork Ribs", price: "$5.99/lb" },
        { name: "Pork Wild Wings", price: "$7.99/lb" }
    ]}
]
---