---
layout: productList
title: Seafood
tags: product
products: [
    { name: "Jumbo Lump Crab Cakes", price: "$8.99/ea" },
    { name: "Garfish Balls", price: "$11.99/doz" },
    { name: "Frog Legs", price: "$7.99/lb" },
    { name: "Unseasoned Catfish Filets", price: "$7.99/lb" },
    { name: "Seasoned Catfish Filets", price: "$8.99/lb" },
    { name: "Alligator Meat", price: "$13.99/ea" },
    { name: "LA Crawfish Tails", price: "$14.99/ea" },
    { name: "31-40 Peeled Gulf Shrimp", price: "$13.99/ea" },
    { name: "9\" Crab Meat Pie", price: "$17.99/ea" },
    { name: "9\" Crawfish Pie", price: "$15.99/ea" },
    { name: "Ahi Tuna Steak", price: "$5.99/ea" }
]
---